* {
    margin: 0;
    padding: 0;
    font-size: 20pt;
}

body {
    margin: 20px;
}

.headbox {
    border: dodgerblue dashed 1px;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 5px;
}

.teambox {
    margin-top: 20px;
    width: 100%;
}

.num {
    color: gray;
    padding: 2px;
    display: inline-block;
    border: black solid 1px;
}

.button {
    border: dodgerblue solid 1px;
    border-radius: 3px;
    color: dodgerblue;
    padding: 2px;
    background-color: aliceblue;
    display: inline-block;
    margin-top: 2px;
    cursor: pointer;
}

/* team arrived button list. */
.teamlist {
    margin-top: 80px;
}

.teamlist span {
    font-size: 32pt;
}

span.button {
    min-width: 40px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px
}

progress {
    border: dodgerblue solid 1px;
    border-radius: 3px;
    text-align: center;
    background-color: aliceblue;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: aliceblue;
}
progress::-webkit-progress-value {
    background-color: dodgerblue;
}
progress::-moz-progress-bar {
    background-color: aliceblue;
}

.red {
    background-color: orangered;
}

.topmenu {
    margin-bottom: 20px;
}

a, a:visited {
    color: dodgerblue;
}

.editor-list {
    border-spacing: 0;
    width: 80%;
    border-bottom: dodgerblue 1px solid;
    border-left: dodgerblue 1px solid;
    border-right: dodgerblue 1px solid;
}

/* admin large team info */
.alti {
    margin-top: 20pt;
}

.dn { display: none }

.editor-list td, .editor-list th {
    border-top: dodgerblue 1px solid;
    text-align: center;
}

.editor-list tr:hover{
    background-color: aliceblue;
}

input, select {
    width: 50%;
    margin-bottom: 16px;
}
