login:
    path: /login
    methods: [ 'POST' ]
    controller: SixQuests\Action\LoginAction:login

login_form:
    path: /login
    methods: [ 'GET' ]
    controller: SixQuests\Action\LoginAction:form

coord_index:
    path: /coord
    controller: SixQuests\Action\RootController

root_index:
    path: /
    controller: SixQuests\Action\AdminAction:questSelect

