# Авторизация.
login:
    path: /login
    methods: [ 'POST' ]
    controller: SixQuests\Action\LoginAction:login

# Форма входа в аккаунт
login_form:
    path: /login
    methods: [ 'GET' ]
    controller: SixQuests\Action\LoginAction:form

# Список точек для координатора.
coord_index:
    path: /points
    controller: SixQuests\Action\PointAction:pointList

# Корень админки.
root_index:
    path: /
    controller: SixQuests\Action\AdminAction:questSelect

# Просмотр квеста админом.
quest_view:
    path: /quest/{id}
    controller: SixQuests\Action\AdminAction:questView

# Запуск квеста админом.
quest_start:
    path: /quest/{id}/start
    controller: SixQuests\Action\AdminAction:questStart

# Просмотр и управление точкой для координатора.
point_view:
    path: /point/{id}
    controller: SixQuests\Action\PointAction:pointView

# JS, координатор: команда прибыла на точку
team_arrived:
    path: /team/arrive
    methods: [ 'POST' ]
    controller: SixQuests\Action\TeamAction:teamArrived

# JS, координатор: команда завершила квест
team_departed:
    path: /team/depart
    methods: [ 'POST' ]
    controller: SixQuests\Action\TeamAction:teamDeparted

# JS, координатор: запрос подсказки
team_hint:
    path: /team/hint
    methods: [ 'POST' ]
    controller: SixQuests\Action\TeamAction:teamAskHint

# Гланая страница админки.
editor_main:
    path: /editor
    controller: SixQuests\Action\EditorAction:editorList

# Страница админки со списком.
editor_list:
    path: /editor/{model}
    controller: SixQuests\Action\EditorAction:editorList

# Страница создания в админке.
editor_create:
    path: /editor/{model}/edit
    methods: [ 'POST' ]
    controller: SixQuests\Action\EditorAction:editorSave

# Страница сохранения в админке.
editor_save:
    path: /editor/{model}/edit{id}
    methods: [ 'POST' ]
    controller: SixQuests\Action\EditorAction:editorSave

# Страница редактирования в админке.
editor_edit:
    path: /editor/{model}/edit{id}
    methods: [ 'GET' ]
    controller: SixQuests\Action\EditorAction:editorEdit