{% extends "base.html.twig" %}

{% block title %}{{ parent() }} — Вход{% endblock %}

{% block body %}
    {%  if error is defined %}
        <span class="red">Неправильный логин или пароль.</span>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <div>Логин:</div>
        <input type="text" name="login" />
        <div>Пароль:</div>
        <input type="password" name="password" />
        <input type="submit" value="Вход" />
    </form>
{% endblock %}